In [4]:
import pandas as pd

In [5]:
df = pd.read_excel('2014 and 2015 CSM dataset.xlsx')

In [6]:
df

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Child 44,2015,6.4,4,1210000,50000000.0,66.0,1,4,3701061,9325,641,1859,NaN
227,Aloha,2015,5.5,15,21000000,37000000.0,2815.0,1,13,7119456,18803,1128,2290,NaN
228,Unfinished Business,2015,5.4,8,10200000,35000000.0,2777.0,1,7,3450614,6823,325,409,NaN
229,War Room,2015,5.4,1,12300000,3000000.0,NaN,1,10,66872,400,67,201,NaN
230,The Gallows,2015,4.4,15,22600000,100000.0,2720.0,1,-5,659772,2841,431,606,NaN

(1) Look at the DataFrame shape

In [7]:
print(df.shape)

(231, 14)

(2) head

In [8]:
df.head()

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,6.3,8,9130,4000000.0,45.0,1,0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,7.1,1,192000000,50000000.0,3306.0,2,2,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,6.2,1,30700000,28000000.0,2872.0,1,0,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,6.3,1,106000000,110000000.0,3470.0,2,0,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,4.7,8,17300000,3500000.0,2310.0,2,0,3145573,12163,610,1082,1923800.0

(3) Tail

In [9]:
df.tail()

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
226,Child 44,2015,6.4,4,1210000,50000000.0,66.0,1,4,3701061,9325,641,1859,NaN
227,Aloha,2015,5.5,15,21000000,37000000.0,2815.0,1,13,7119456,18803,1128,2290,NaN
228,Unfinished Business,2015,5.4,8,10200000,35000000.0,2777.0,1,7,3450614,6823,325,409,NaN
229,War Room,2015,5.4,1,12300000,3000000.0,NaN,1,10,66872,400,67,201,NaN
230,The Gallows,2015,4.4,15,22600000,100000.0,2720.0,1,-5,659772,2841,431,606,NaN

(4)&(5) describe all features

In [10]:
df.describe()

,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
count,231.000000,231.000000,231.000000,2.310000e+02,2.300000e+02,221.000000,231.000000,231.000000,2.310000e+02,231.000000,231.000000,231.000000,1.960000e+02
mean,2014.294372,6.441558,5.359307,6.806603e+07,4.792173e+07,2209.244344,1.359307,2.809524,3.712851e+06,12732.536797,679.051948,1825.701299,3.038193e+06
std,0.456750,0.988765,4.141611,8.890289e+07,5.428825e+07,1463.767755,0.967241,6.996775,4.511104e+06,28825.484481,1243.929481,3571.040447,4.886278e+06
min,2014.000000,3.100000,1.000000,2.470000e+03,7.000000e+04,2.000000,1.000000,-38.000000,6.980000e+02,1.000000,0.000000,0.000000,1.066000e+03
25%,2014.000000,5.800000,1.000000,1.030000e+07,9.000000e+06,449.000000,1.000000,0.000000,6.233020e+05,1776.500000,105.500000,248.500000,1.830250e+05
50%,2014.000000,6.500000,3.000000,3.740000e+07,2.800000e+07,2777.000000,1.000000,0.000000,2.409338e+06,6096.000000,341.000000,837.000000,1.052600e+06
75%,2015.000000,7.100000,8.000000,8.935000e+07,6.500000e+07,3372.000000,1.000000,5.500000,5.217380e+06,15247.500000,697.500000,2137.000000,3.694500e+06
max,2015.000000,8.700000,15.000000,6.430000e+08,2.500000e+08,4324.000000,7.000000,29.000000,3.262678e+07,370552.000000,13960.000000,38363.000000,3.103000e+07

(6) mean for all numerical columns

In [11]:
df['Year'].mean()

2014.2943722943724

In [12]:
df['Ratings'].mean()

6.441558441558438

In [13]:
df['Genre'].mean()

5.359307359307359

In [14]:
df['Gross'].mean()

68066033.2034632

In [15]:
df['Budget'].mean()

47921730.04678262

In [16]:
df['Screens'].mean()

2209.244343891403

In [17]:
df['Sequel'].mean()

1.3593073593073592

In [18]:
df['Sentiment'].mean()

2.8095238095238093

In [19]:
df['Views'].mean()

3712851.2900432902

In [20]:
df['Likes'].mean()

12732.536796536797

In [21]:
df['Dislikes'].mean()

679.0519480519481

In [22]:
df['Comments'].mean()

1825.7012987012988

In [23]:
df['Aggregate Followers'].mean()

3038193.448979592

(7) median for all numerical columns

In [24]:
df['Year'].median()

2014.0

In [25]:
df['Ratings'].median()

6.5

In [26]:
df['Genre'].median()

3.0

In [27]:
df['Gross'].median()

37400000.0

In [28]:
df['Budget'].median()

28000000.0

In [29]:
df['Screens'].median()

2777.0

In [30]:
df['Sequel'].median()

1.0

In [31]:
df['Sentiment'].median()

0.0

In [32]:
df['Views'].median()

2409338.0

In [33]:
df['Likes'].median()

6096.0

In [34]:
df['Dislikes'].median()

341.0

In [35]:
df['Comments'].median()

837.0

In [36]:
df['Aggregate Followers'].median()

1052600.0

(8) mode for all numerical columns

In [37]:
df['Year'].mode()

0    2014
Name: Year, dtype: int64

In [38]:
df['Ratings'].mode()

0    6.1
1    6.3
2    6.6
Name: Ratings, dtype: float64

In [39]:
df['Genre'].mode()

0    1
Name: Genre, dtype: int64

In [40]:
df['Gross'].mode()

0        129000
1       1210000
2       2820000
3      12300000
4      25400000
5      26000000
6      47400000
7      50500000
8      50800000
9      71000000
10     91400000
11    102000000
12    128000000
13    177000000
14    201000000
15    350000000
Name: Gross, dtype: int64

In [41]:
df['Budget'].mode()

0     5000000.0
1    50000000.0
Name: Budget, dtype: float64

In [42]:
df['Screens'].mode()

0       2.0
1       4.0
2      66.0
3    3003.0
Name: Screens, dtype: float64

In [43]:
df['Sequel'].mode()

0    1
Name: Sequel, dtype: int64

In [44]:
df['Sentiment'].mode()

0    0
Name: Sentiment, dtype: int64

In [45]:
df['Views'].mode()

0           698
1           702
2          2285
3          4877
4          6495
         ...
226    14453673
227    15568277
228    19032902
229    31859569
230    32626778
Name: Views, Length: 231, dtype: int64

In [46]:
df['Likes'].mode()

0       1
1       6
2     238
3    4632
Name: Likes, dtype: int64

In [47]:
df['Dislikes'].mode()

0    1
Name: Dislikes, dtype: int64

In [48]:
df['Comments'].mode()

0    1
Name: Comments, dtype: int64

In [49]:
df['Aggregate Followers'].mode()

0     130000.0
1     147000.0
2     250000.0
3    1800000.0
4    1810000.0
5    4240000.0
Name: Aggregate Followers, dtype: float64

(9) standard deviation for all numerical columns

In [50]:
df['Year'].std()

0.45674978395408633

In [51]:
df['Ratings'].std()

0.988765235601936

In [91]:
df['Genre'].std()

4.141611474428705

In [92]:
df['Gross'].std()

88902891.2219994

In [93]:
df['Budget'].std()

54288246.071780145

In [94]:
df['Screens'].std()

1463.7677548110844

In [95]:
df['Sequel'].std()

0.9672405599289615

In [96]:
df['Sentiment'].std()

6.996775359008652

In [97]:
df['Views'].std()

4511104.242784644

In [98]:
df['Likes'].std()

28825.484480519735

In [99]:
df['Dislikes'].std()

1243.9294810444062

In [100]:
df['Comments'].std()

3571.040446600847

In [101]:
df['Aggregate Followers'].std()

4886278.073224598

(10) sum for all numerical columns

In [52]:
df['Year'].sum()

465302

In [53]:
df['Ratings'].sum()

1488.0

In [54]:
df['Genre'].sum()

1238

In [55]:
df['Gross'].sum()

15723253670

In [56]:
df['Budget'].sum()

11021997910.76

In [57]:
df['Screens'].sum()

488243.0

In [58]:
df['Sequel'].sum()

314

In [59]:
df['Sentiment'].sum()

649

In [60]:
df['Views'].sum()

857668648

In [61]:
df['Likes'].sum()

2941216

In [62]:
df['Dislikes'].sum()

156861

In [63]:
df['Comments'].sum()

421737

In [64]:
df['Aggregate Followers'].sum()

595485916.0

(11) count for all columns

In [65]:
df.count()

Movie                  231
Year                   231
Ratings                231
Genre                  231
Gross                  231
Budget                 230
Screens                221
Sequel                 231
Sentiment              231
Views                  231
Likes                  231
Dislikes               231
Comments               231
Aggregate Followers    196
dtype: int64

(12) How many missing values are in each column

In [67]:
print('missing values in Year column:'+ str(df['Year'].isna().sum()))

missing values in Year column:0

In [68]:
print('missing values in Ratings column:'+ str(df['Ratings'].isna().sum()))

missing values in Ratings column:0

In [69]:
print('missing values in Genre column:'+ str(df['Genre'].isna().sum()))

missing values in Genre column:0

In [70]:
print('missing values in Gross column:'+ str(df['Gross'].isna().sum()))

missing values in Gross column:0

In [71]:
print('missing values in Budget column:'+ str(df['Budget'].isna().sum()))

missing values in Budget column:1

In [72]:
print('missing values in Screens column:'+ str(df['Screens'].isna().sum()))

missing values in Screens column:10

In [73]:
print('missing values in Sequel column:'+ str(df['Sequel'].isna().sum()))

missing values in Sequel column:0

In [74]:
print('missing values in Sentiment column:'+ str(df['Sentiment'].isna().sum()))

missing values in Sentiment column:0

In [75]:
print('missing values in Views column:'+ str(df['Views'].isna().sum()))

missing values in Views column:0

In [76]:
print('missing values in Likes column:'+ str(df['Likes'].isna().sum()))

missing values in Likes column:0

In [77]:
print('missing values in Dislikes column:'+ str(df['Dislikes'].isna().sum()))

missing values in Dislikes column:0

In [78]:
print('missing values in Comments column:'+ str(df['Comments'].isna().sum()))

missing values in Comments column:0

In [79]:
print('missing values in Aggregate Followers column:'+ str(df['Aggregate Followers'].isna().sum()))

missing values in Aggregate Followers column:35

(13) value_counts for all categorical columns

In [80]:
df['Year'].value_counts()

2014    163
2015     68
Name: Year, dtype: int64

In [81]:
df['Genre'].value_counts()

1     65
8     54
3     46
12    13
9     13
10    12
2     12
15    10
6      3
7      2
4      1
Name: Genre, dtype: int64

(14) Subset your DataFrame based on one condition (in this case, the condition will only output the movies that were released in 2015)

In [82]:
print(df[df['Year'] == 2015])

                       Movie  Year  Ratings  Genre      Gross       Budget  \
163           Jurassic World  2015      7.3      1  643000000  150000000.0
164  Avengers: Age of Ultron  2015      7.8      1  458000000  250000000.0
165                Furious 7  2015      7.4      1  350000000  190000000.0
166               Inside Out  2015      8.6     12  345000000  175000000.0
167                  Minions  2015      6.6      1  325000000   74000000.0
..                       ...   ...      ...    ...        ...          ...
226                 Child 44  2015      6.4      4    1210000   50000000.0
227                    Aloha  2015      5.5     15   21000000   37000000.0
228      Unfinished Business  2015      5.4      8   10200000   35000000.0
229                 War Room  2015      5.4      1   12300000    3000000.0
230              The Gallows  2015      4.4     15   22600000     100000.0

     Screens  Sequel  Sentiment     Views  Likes  Dislikes  Comments  \
163   4274.0       4          1   9143740  34746      1074      5107
164   4276.0       2         21  10366624  31552       989      3843
165   4004.0       7        -17     59056    330         8        39
166   3946.0       1          2   1438926   4632       262       496
167   4301.0       2         -2   1341909   1607       764        48
..       ...     ...        ...       ...    ...       ...       ...
226     66.0       1          4   3701061   9325       641      1859
227   2815.0       1         13   7119456  18803      1128      2290
228   2777.0       1          7   3450614   6823       325       409
229      NaN       1         10     66872    400        67       201
230   2720.0       1         -5    659772   2841       431       606

     Aggregate Followers
163            6180000.0
164           10070000.0
165           11890000.0
166             232000.0
167             250000.0
..                   ...
226                  NaN
227                  NaN
228                  NaN
229                  NaN
230                  NaN

[68 rows x 14 columns]

(15) Subset your DataFrame based on two different conditions (in this case, the condition will only output the movies that were released in 2015 with ratings greater tham 5)

In [83]:
df[(df['Year']== 2015) & (df['Ratings']>5)]

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
163,Jurassic World,2015,7.3,1,643000000,150000000.0,4274.0,4,1,9143740,34746,1074,5107,6180000.0
164,Avengers: Age of Ultron,2015,7.8,1,458000000,250000000.0,4276.0,2,21,10366624,31552,989,3843,10070000.0
165,Furious 7,2015,7.4,1,350000000,190000000.0,4004.0,7,-17,59056,330,8,39,11890000.0
166,Inside Out,2015,8.6,12,345000000,175000000.0,3946.0,1,2,1438926,4632,262,496,232000.0
167,Minions,2015,6.6,1,325000000,74000000.0,4301.0,2,-2,1341909,1607,764,48,250000.0
168,Pitch Perfect 2,2015,6.7,8,183000000,29000000.0,3473.0,2,1,9214467,39824,998,1987,7336000.0
169,Mission: Impossible - Rogue Nation,2015,7.8,3,171000000,150000000.0,3956.0,5,3,8748596,20352,649,1842,6605000.0
170,Home,2015,6.7,8,177000000,135000000.0,3708.0,1,-2,10341783,24413,1675,3426,5070000.0
172,The SpongeBob Movie: Sponge Out of Water,2015,6.1,8,162000000,74000000.0,3641.0,2,0,5536822,29411,1840,1281,184000.0
173,San Andreas,2015,6.4,1,154000000,110000000.0,3777.0,1,3,12632836,36508,2210,7559,9737600.0
174,Mad Max: Fury Road,2015,8.3,1,153000000,150000000.0,3702.0,4,-4,2732371,13030,497,1774,768700.0
175,Straight Outta Compton,2015,8.3,9,135000000,28000000.0,2757.0,1,5,848970,12607,237,1560,55618.0
176,Insurgent,2015,6.4,2,130000000,110000000.0,3875.0,2,-6,2834800,5664,5746,66,4240000.0
177,Spy,2015,7.3,1,110000000,65000000.0,3711.0,1,0,6649290,20750,750,1666,265000.0
178,Trainwreck,2015,6.7,12,105000000,35000000.0,3158.0,1,1,9511288,19903,2581,2955,2014000.0
179,Tomorrowland,2015,6.6,12,93200000,190000000.0,3972.0,1,1,999867,4212,66,250,1198000.0
180,Get Hard,2015,6.1,8,90400000,40000000.0,3175.0,1,6,10078326,26565,1418,2395,2939000.0
181,Terminator Genisys,2015,6.8,1,89400000,155000000.0,3758.0,5,1,84870,265,13,63,3877901.0
182,Ted 2,2015,6.6,8,81300000,68000000.0,3442.0,2,5,6711914,29903,984,1767,10988000.0
184,Pixels,2015,5.6,1,71000000,88000000.0,3723.0,1,10,5340100,26134,2007,3717,2466000.0
185,Magic Mike XXL,2015,6.2,8,65900000,14800000.0,3355.0,2,7,5128288,18475,858,1579,8392000.0
186,The Wedding Ringer,2015,6.7,8,64500000,23000000.0,3003.0,1,-8,4826940,10521,478,755,2284000.0
187,Vacation,2015,6.3,2,54900000,31000000.0,3411.0,5,13,2554327,10062,464,871,2347000.0
190,Jupiter Ascending,2015,5.5,1,47400000,176000000.0,3181.0,1,0,3920842,10535,565,1668,7460000.0
191,The Age of Adaline,2015,7.3,3,42500000,25000000.0,2991.0,1,11,11036701,50002,1005,3525,776000.0
192,Max,2015,7.0,1,41900000,20000000.0,2855.0,1,0,2947239,19201,625,1842,2113.0
193,The Longest Ride,2015,7.2,3,37400000,34000000.0,3366.0,1,19,2393017,13291,369,584,324925.0
194,The Gift,2015,7.6,1,36100000,5000000.0,1648.0,1,11,2513544,6970,270,1105,1655987.0
197,The DUFF,2015,6.6,8,34000000,8500000.0,2575.0,1,2,12792898,56001,2083,4102,6714000.0
198,Woman in Gold,2015,7.4,10,33300000,11000000.0,258.0,1,19,6495,82,3,7,675000.0
199,Entourage,2015,7.1,3,32400000,30000000.0,3108.0,1,6,1841293,5879,314,634,788000.0
200,Paper Towns,2015,6.9,3,31400000,12000000.0,3031.0,1,6,2854910,23254,459,1087,4184000.0
201,The Lazarus Effect,2015,5.2,8,25800000,3300000.0,2666.0,1,7,4442147,10605,691,2739,2007000.0
202,Sinister 2,2015,5.5,1,19000000,10000000.0,2766.0,2,-38,11037833,36874,1885,4360,5699.0
203,Ricki and the Flash,2015,6.1,3,23500000,18000000.0,1603.0,1,25,638374,4018,130,269,1887.0
204,Project Almanac,2015,6.4,8,22300000,12000000.0,2893.0,1,7,6646785,16041,955,2787,253499.0
205,Hitman: Agent 47,2015,5.9,8,16100000,35000000.0,3261.0,1,10,13154873,46684,3565,8578,209000.0
206,Dope,2015,7.5,8,16800000,700000.0,2002.0,1,2,50444,238,3,28,986572.0
207,Hot Tub Time Machine 2,2015,5.1,8,12300000,14000000.0,2880.0,2,9,11496,194,9,31,1891977.0
208,American Ultra,2015,6.5,1,10900000,28000000.0,2778.0,1,21,2996539,1874,32,189,155000.0
209,The Gunman,2015,5.8,8,10600000,40000000.0,2816.0,1,3,3098749,4311,341,881,1520000.0
210,Mortdecai,2015,5.5,8,7610000,60000000.0,2648.0,1,-2,3850758,13363,453,1276,3045000.0
211,Blackhat,2015,5.4,3,7100000,70000000.0,2567.0,1,4,2409338,6923,340,714,1334000.0
212,Me and Earl and the Dying Girl,2015,8.2,8,6740000,8000000.0,34.0,1,15,4032265,18398,302,1298,2208.0
214,Maggie,2015,5.6,3,131000,4500000.0,79.0,1,10,5085068,14359,600,2468,3744000.0
215,Americons,2015,7.3,3,129000,4000000.0,14.0,1,0,63724,115,28,14,129000.0
216,Road Hard,2015,6.3,3,106000,1500000.0,22.0,1,14,44963,109,27,42,1188000.0
217,Ant-Man,2015,7.8,1,169000000,130000000.0,3856.0,1,18,9597644,32558,2672,8359,NaN
218,Southpaw,2015,7.7,1,49500000,30000000.0,2772.0,1,6,11476882,40496,1383,4435,NaN
219,Ex Machina,2015,7.7,3,25400000,15000000.0,1255.0,1,3,419470,2218,46,239,NaN
220,The Man from U.N.C.L.E.,2015,7.6,6,34600000,75000000.0,3638.0,1,8,5216680,20010,500,2300,NaN
221,Cinderella,2015,7.1,8,201000000,95000000.0,3845.0,1,2,10164908,22726,4245,5262,NaN
222,Chappie,2015,7.0,1,31600000,49000000.0,3201.0,1,8,7384182,23597,786,3481,NaN
223,Brotherly Love,2015,6.9,8,444000,1900000.0,200.0,1,0,890619,6352,293,700,NaN
224,Run All Night,2015,6.6,8,26400000,50000000.0,3171.0,1,3,5671767,10073,480,1712,NaN
225,The Second Best Exotic Marigold Hotel,2015,6.6,1,33100000,10000000.0,1573.0,2,26,831044,2427,99,247,NaN
226,Child 44,2015,6.4,4,1210000,50000000.0,66.0,1,4,3701061,9325,641,1859,NaN
227,Aloha,2015,5.5,15,21000000,37000000.0,2815.0,1,13,7119456,18803,1128,2290,NaN
228,Unfinished Business,2015,5.4,8,10200000,35000000.0,2777.0,1,7,3450614,6823,325,409,NaN
229,War Room,2015,5.4,1,12300000,3000000.0,NaN,1,10,66872,400,67,201,NaN

(16) Subset your DataFrame based on three different conditions (in this case, the condition will only output the movies that were released in 2015 with ratings greater tham 5 and have only one sequel)

In [84]:
df[(df['Year']== 2015) & (df['Ratings']>5) & (df['Sequel']<2) ]

,Movie,Year,Ratings,Genre,Gross,Budget,Screens,Sequel,Sentiment,Views,Likes,Dislikes,Comments,Aggregate Followers
166,Inside Out,2015,8.6,12,345000000,175000000.0,3946.0,1,2,1438926,4632,262,496,232000.0
170,Home,2015,6.7,8,177000000,135000000.0,3708.0,1,-2,10341783,24413,1675,3426,5070000.0
173,San Andreas,2015,6.4,1,154000000,110000000.0,3777.0,1,3,12632836,36508,2210,7559,9737600.0
175,Straight Outta Compton,2015,8.3,9,135000000,28000000.0,2757.0,1,5,848970,12607,237,1560,55618.0
177,Spy,2015,7.3,1,110000000,65000000.0,3711.0,1,0,6649290,20750,750,1666,265000.0
178,Trainwreck,2015,6.7,12,105000000,35000000.0,3158.0,1,1,9511288,19903,2581,2955,2014000.0
179,Tomorrowland,2015,6.6,12,93200000,190000000.0,3972.0,1,1,999867,4212,66,250,1198000.0
180,Get Hard,2015,6.1,8,90400000,40000000.0,3175.0,1,6,10078326,26565,1418,2395,2939000.0
184,Pixels,2015,5.6,1,71000000,88000000.0,3723.0,1,10,5340100,26134,2007,3717,2466000.0
186,The Wedding Ringer,2015,6.7,8,64500000,23000000.0,3003.0,1,-8,4826940,10521,478,755,2284000.0
190,Jupiter Ascending,2015,5.5,1,47400000,176000000.0,3181.0,1,0,3920842,10535,565,1668,7460000.0
191,The Age of Adaline,2015,7.3,3,42500000,25000000.0,2991.0,1,11,11036701,50002,1005,3525,776000.0
192,Max,2015,7.0,1,41900000,20000000.0,2855.0,1,0,2947239,19201,625,1842,2113.0
193,The Longest Ride,2015,7.2,3,37400000,34000000.0,3366.0,1,19,2393017,13291,369,584,324925.0
194,The Gift,2015,7.6,1,36100000,5000000.0,1648.0,1,11,2513544,6970,270,1105,1655987.0
197,The DUFF,2015,6.6,8,34000000,8500000.0,2575.0,1,2,12792898,56001,2083,4102,6714000.0
198,Woman in Gold,2015,7.4,10,33300000,11000000.0,258.0,1,19,6495,82,3,7,675000.0
199,Entourage,2015,7.1,3,32400000,30000000.0,3108.0,1,6,1841293,5879,314,634,788000.0
200,Paper Towns,2015,6.9,3,31400000,12000000.0,3031.0,1,6,2854910,23254,459,1087,4184000.0
201,The Lazarus Effect,2015,5.2,8,25800000,3300000.0,2666.0,1,7,4442147,10605,691,2739,2007000.0
203,Ricki and the Flash,2015,6.1,3,23500000,18000000.0,1603.0,1,25,638374,4018,130,269,1887.0
204,Project Almanac,2015,6.4,8,22300000,12000000.0,2893.0,1,7,6646785,16041,955,2787,253499.0
205,Hitman: Agent 47,2015,5.9,8,16100000,35000000.0,3261.0,1,10,13154873,46684,3565,8578,209000.0
206,Dope,2015,7.5,8,16800000,700000.0,2002.0,1,2,50444,238,3,28,986572.0
208,American Ultra,2015,6.5,1,10900000,28000000.0,2778.0,1,21,2996539,1874,32,189,155000.0
209,The Gunman,2015,5.8,8,10600000,40000000.0,2816.0,1,3,3098749,4311,341,881,1520000.0
210,Mortdecai,2015,5.5,8,7610000,60000000.0,2648.0,1,-2,3850758,13363,453,1276,3045000.0
211,Blackhat,2015,5.4,3,7100000,70000000.0,2567.0,1,4,2409338,6923,340,714,1334000.0
212,Me and Earl and the Dying Girl,2015,8.2,8,6740000,8000000.0,34.0,1,15,4032265,18398,302,1298,2208.0
214,Maggie,2015,5.6,3,131000,4500000.0,79.0,1,10,5085068,14359,600,2468,3744000.0
215,Americons,2015,7.3,3,129000,4000000.0,14.0,1,0,63724,115,28,14,129000.0
216,Road Hard,2015,6.3,3,106000,1500000.0,22.0,1,14,44963,109,27,42,1188000.0
217,Ant-Man,2015,7.8,1,169000000,130000000.0,3856.0,1,18,9597644,32558,2672,8359,NaN
218,Southpaw,2015,7.7,1,49500000,30000000.0,2772.0,1,6,11476882,40496,1383,4435,NaN
219,Ex Machina,2015,7.7,3,25400000,15000000.0,1255.0,1,3,419470,2218,46,239,NaN
220,The Man from U.N.C.L.E.,2015,7.6,6,34600000,75000000.0,3638.0,1,8,5216680,20010,500,2300,NaN
221,Cinderella,2015,7.1,8,201000000,95000000.0,3845.0,1,2,10164908,22726,4245,5262,NaN
222,Chappie,2015,7.0,1,31600000,49000000.0,3201.0,1,8,7384182,23597,786,3481,NaN
223,Brotherly Love,2015,6.9,8,444000,1900000.0,200.0,1,0,890619,6352,293,700,NaN
224,Run All Night,2015,6.6,8,26400000,50000000.0,3171.0,1,3,5671767,10073,480,1712,NaN
226,Child 44,2015,6.4,4,1210000,50000000.0,66.0,1,4,3701061,9325,641,1859,NaN
227,Aloha,2015,5.5,15,21000000,37000000.0,2815.0,1,13,7119456,18803,1128,2290,NaN
228,Unfinished Business,2015,5.4,8,10200000,35000000.0,2777.0,1,7,3450614,6823,325,409,NaN
229,War Room,2015,5.4,1,12300000,3000000.0,NaN,1,10,66872,400,67,201,NaN

(17) Use loc to slice your DataFrame for the 2 columns that returned the largest sum

In [102]:
df.loc[:, ["Gross","Budget"]]

         Gross       Budget
0         9130    4000000.0
1    192000000   50000000.0
2     30700000   28000000.0
3    106000000  110000000.0
4     17300000    3500000.0
..         ...          ...
226    1210000   50000000.0
227   21000000   37000000.0
228   10200000   35000000.0
229   12300000    3000000.0
230   22600000     100000.0

[231 rows x 2 columns]

(18) Use iloc to slice your DataFrame for the 2 columns that returned the largest mean

In [103]:
df.iloc[:, [4,5]]

         Gross       Budget
0         9130    4000000.0
1    192000000   50000000.0
2     30700000   28000000.0
3    106000000  110000000.0
4     17300000    3500000.0
..         ...          ...
226    1210000   50000000.0
227   21000000   37000000.0
228   10200000   35000000.0
229   12300000    3000000.0
230   22600000     100000.0

[231 rows x 2 columns]

(19) Find 2 pandas DataFrame methods we did not cover and use them on your own data.

dtypes: Pandas DataFrame.dtypes attribute return the dtypes in the DataFrame. It returns a series with the data type of each column.

max: The max() method returns a series with the maximum value of each column.

min: The min() method returns a series with the minimum value of each column.

In [107]:
df.dtypes

Movie                   object
Year                     int64
Ratings                float64
Genre                    int64
Gross                    int64
Budget                 float64
Screens                float64
Sequel                   int64
Sentiment                int64
Views                    int64
Likes                    int64
Dislikes                 int64
Comments                 int64
Aggregate Followers    float64
dtype: object

In [108]:
print(df.max())

Movie                  Yves Saint Laurent
Year                                 2015
Ratings                               8.7
Genre                                  15
Gross                           643000000
Budget                        250000000.0
Screens                            4324.0
Sequel                                  7
Sentiment                              29
Views                            32626778
Likes                              370552
Dislikes                            13960
Comments                            38363
Aggregate Followers            31030000.0
dtype: object

In [109]:
print(df.min())

Movie                  13 Sins
Year                      2014
Ratings                    3.1
Genre                        1
Gross                     2470
Budget                 70000.0
Screens                    2.0
Sequel                       1
Sentiment                  -38
Views                      698
Likes                        1
Dislikes                     0
Comments                     0
Aggregate Followers     1066.0
dtype: object